.header {
    width: 100%;
    .header__nav {
        width: 100%;
        // border: 1px solid red;
        transition: all .4s ease;

        @media screen and (max-width: 710px) {

            &.header__nav_mobile {
                height: 200px;
                transition: all .4s ease-in;
            }            
        }
        
        .navbar {
            position: relative;// here
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            padding-top: 30px;
            &__logo {
                position: relative;
                z-index: 2;
            }
            &__menu {
                // border: 1px solid red;
                // transition: all .4s ease;
                @media screen and (max-width: 710px) {
                    display: none;
                }
                &.navbar__menu_mobile {
                    display: block;
                    z-index: 1;
                    position: absolute;
                    top: 0;
                    background: #262626;
                    height: 100vh;
                    right: 0;
                    transition: all 0.4s ease;
                    width: 100%;
                }
            }


            .menu__list {
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                width: 100%;
                
                @media screen and (max-width: 710px) {
                    // background: #262626;
                    flex-direction: column;
                    align-items: flex-end;
                    margin-top: 130px;
                    &-item {
                        margin: 15px;
                        width: 100%;
                        text-align: end;
                        &:last-child {
                            margin-right: 50px;
                        }
                        a[data-anchor] {
                            font-size: 2rem;
                        }
                    }
                }

                &-item:not(:last-child) {
                    margin-right: 50px;
                }
                &-item {
                    position: relative;
                    &::after {
                        content: '';
                        position: absolute;
                        left: 0;
                        bottom: 0;
                        height: 1px;
                        width: 0;
                        background: #fff;
                    }
                    &:hover {
                        &::after {
                            width: 100%;
                            transition: cubic-bezier(0.075, 0.82, 0.165, 1) .2s all;
                        }
                    }
                    a {
                        color:rgb(255, 255, 255);
                        font-size: 24px;
                        line-height: 1;
                    }
                }

            }
        }

    }
}
.burger {
    display: none;

    @media(max-width: 710px){
        display: block;
        margin-right: 50px;
        position: relative;
        width: 40px;
        height: 35px;
        margin-left: 10px;

        span, &::after, &::before {
            height: 3px;
            width: 100%;
            position: absolute;
            background: #515758;
        }
    
        span {
            top: 16px;
        }
    
        &::after, &::before {
            content: '';
        }
    
        &:after{
            bottom: 5px;
        }
        &:before{
            top: 5px;
        }
    
    }
    &.burger_open {
        z-index: 2;
        span {
            opacity: 0;
            transition: .5s;
        }
        &::before {
            transform: rotate(38deg);
            top: 16px;
            transition: 0.4s;
            background:rgb(255, 255, 255);

        }
        &::after {
            transform: rotate(-38deg);
            bottom: 16px;
            transition: 0.4s;
            background:rgb(255, 255, 255);
        }
    }
}