header, main, footer {
    display: block;
}
.header {
    background: #00b0d8 url('../../src/assets/img/gradient.png') repeat-x;

    .header-bg {
        height: 305px; /* Высота шапки */
        text-align: center;
        background: url('../../src/assets/img/lion-fon.png') repeat-x center bottom;

        &__image {
            position: relative;
            top: 40px;
            margin: 0 auto;
            width: 450px;
            height: 166px;
        }
    }
}

.content-gradient {
    min-height: 100vh;
    height: 1px;
    background: #f9f2e3 linear-gradient(to top, #f9f1e3, #f9db94) repeat-x;
    
    .content-bg {
        height: 100%;
        width: 760px; /* Ширина макета */
        margin: 0 auto; /* Выравнивание по центру */
        background: #f9f2e3 linear-gradient(to bottom, #f9f1e3, #f9db94) repeat-x; /* Фон с границами */

        &__white {
            // background: #fff; /* Белый цвет фона */
            margin: 0 11px; /* Отступы по горизонтали */
            padding: 20px 40px; /* Поля */
            text-align: justify; /* Выравнивание по ширине */

            p:last-child {
                text-align: center;
                margin-top: 10px;
                font-size: 2em;
                background: linear-gradient(135deg, #2d2aff 20%, #3dfa0e 70%);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                padding: 0.3em 0.6em ;
                border: 5px solid transparent;
                border-image: linear-gradient(135deg, #12BCB0 20%, #d30efa 70%);
                border-image-slice: 1;
            }
        }
    }
}
.footer {
    position: relative;
    background: url('../../src/assets/img/orig.png') 50% 0  no-repeat; /* Фоновый рисунок травы */
    
    &-lion {
        position: absolute;
        left: 50%;
        margin-left: -347px;
        top: 3px;
        width: 130px;
        height: calc(100% - 3px);
    }

    &-bg {
        background: #e2ed9c; /* Цвет фона */
    }

    .copyright {
        width: 740px; /* Ширина макета без полей */
        padding: 0 10px 10px; /* Поля */
        margin: auto; /* Выравнивание по центру */
        color: #526118; /* Цвет текста */

        p {
            margin: 0 0 5px 170px;
        }
    }
}
