.accordion {
    &__item {
        position: relative;
        // border: 1px solid red;
        &-icon {
            position: absolute;
            top: 10px;
            right: 25px;
            //тут собака сутулая
            .sobaka {
                position: absolute;
                top: -2px;
                right: 4px;
                transform: rotate(-45deg);
            }
            span:not(.sobaka) {
                display: block;
                position: relative;
                // color: blue;
                // border-right: 1px solid red;
                transform: rotate(0deg);
                &::before {
                    content: '_';
                    position: absolute;
                    top: -2px;
                    right: 0px;
                    // display: block;
                    // transform: rotate(90deg);
                }
                &:after {
                    content: '_';
                    position: absolute;
                    top: 0;
                    right: -10px;
                    display: block;
                    transform: rotate(90deg)
                    // border-right: 1px solid red;
                }
            }
            // конец собаки сутулой

        }
        &-content {
            display: none;
        }

        &.active {
            .accordion__item-content {
                display: block;
            }
            .accordion-name__text, .accordion-name__num {
                color: #1378EF;
            }
        }
    }

    &-name {
        padding: 5px 0;
        &__text, &__num {
            display: inline-block;
            font-style: normal;
            font-weight: bold;
            font-size: 28px;
            line-height: 55px;
        }
    }
}
